@import "03_variables.css";


*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.main-wrapper {
    height: calc(100vh - var(--header-height));
    width: 90%;
}

.app-body {
    position: relative;
    margin: var(--header-height) 0 100px 0;
    transition: .5s;
    background-color: var(--2nd-background);
}

.content-block {
    margin-top: 100px;
    margin-right: 30px;
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--light);
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: var(--medium-font);
}

h1 {
    font-size: 36px;
    color: var(--dark)
}