<div class="row field user-name-field">
    <label for="" class="label username-field">Username</label>
    <input type="text" name="username" class="input username-input">
</div>

<div class="row field password-field">
    <label for="" class="label password-label">Password</label>
    <input type="password" name="password" class="input password-input">
</div>

<div class="row submit-btn-row">
    <button type="submit" class="btn general-btn submit-form-btn solid-btn-accent">Login &rarr;</button>
</div> 