<div class="row field first-name-field">
    <label for="" class="label first-name-label">First Name</label>
    {{ registration_form.first_name }}
</div>

<div class="row field last-name-field">
    <label for="" class="label last-name-label">Last Name</label>
    {{ registration_form.last_name }}
</div>

<div class="row field username-field">
    <label for="" class="label username-label">Username</label>
    {{ registration_form.username }}
</div>

<div class="row field email-field">
    <label for="" class="label email-label">Email</label>
    {{ registration_form.email }}
</div>

<div class="row field pwd-field">
    <label for="" class="label pwd-label">Password</label>
    {{ registration_form.password1 }}
</div>

<div class="row field pwd-confirmation-field">
    <label for="" class="label pwd-confirmation-label">Confirm Password</label>
    {{ registration_form.password2 }}
</div>

<div class="row submit-btn-row">
    <button type="submit" class="btn general-btn solid-btn-accent auth-form-submit-btn">Create account &rarr;</button>
</div> 