{% extends 'form.html' %}
{% load static %}


{% block user_state_message %}
    Register now!
{% endblock user_state_message%}

{% block user_state_action %}
    {% url "users:register" as url %}
    <a href="{{ url }}" class="btn general-btn auth-btn">Register</a>
{% endblock user_state_action %}

{% block form_content %}
<form action="" method="post" class="container-fluid auth-form registration-form">
    {% csrf_token %}

    <div class="row justify-content-center align-items-center">
        <div class="form-title registration-form-title text-center">
            <h1>Log in into your account.</h1>
            <h6>Complete the following fields.</h6>
        </div>

        <div class="row w-50 d-flex justify-content-center field-row p-0">
            <div class="row field user-name-field">
                <label for="" class="label username-field">Username</label>
                <input type="text" name="username" class="input username-input">
            </div>

            <div class="row field password-field">
                <label for="" class="label password-label">Password</label>
                <input type="password" name="password" class="input password-input">
            </div>

            <button type="submit" class="btn submit-btn general-btn">Login &rarr;</button>

        </div>

    </div>

</form>
{% endblock form_content %}