{% extends 'form.html' %}
{% load static %}


{% block user_state_message %}
    Register now to create your meal plans.
{% endblock user_state_message%}

{% block user_state_action %}
    {% url "users:register" as url %}
    <a href="{{ url }}" class="btn auth-btn">Register</a>
{% endblock user_state_action %}

{% block form_content %}
    <form action="" method="post" class="custom-form">
        {% csrf_token %}

        <div class="form-title mb-5">
            <h1 class="form-action-text">Log into your account.</h1>
            <h6 class="form-action-description">Complete the following fields</h6>
        </div>

        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Username</div>
            <div class="field input col-md-12">
                <input type="text" name="username" id="">
            </div>
        </div>

        <div class="row field-row">
            <div class="field label col-md-12"><label for=""></label>Password</div>
            <div class="field input col-md-12">
                <input type="password" name="password">
            </div>
        </div>

        <button type="submit" class="btn general-button login-btn">Log In &rarr;</button>

    </form>
{% endblock form_content %}