{% extends 'form.html' %}
{% load static %}

{% block user_state_message %}
    Already have an account?
{% endblock user_state_message%}

{% block user_state_action %}
    {% url "users:login" as url %}
    <a href="{{ url }}" class="btn general-btn auth-btn">Login</a>
{% endblock user_state_action %}

{% block form_content %}
<form action="" method="post" class="container-fluid auth-form registration-form">
    {% csrf_token %}

    <div class="row justify-content-center align-items-center">
        <div class="form-title registration-form-title text-center">
            <h1>Register your account.</h1>
            <h6>Complete the following fields.</h6>
        </div>

        <div class="row w-50 d-flex justify-content-center field-row p-0">
            <div class="row field first-name-field">
                <label for="" class="label first-name-label">First Name</label>
                {{ registration_form.first_name }}
            </div>

            <div class="row field last-name-field">
                <label for="" class="label last-name-label">Last Name</label>
                {{ registration_form.last_name }}
            </div>

            <div class="row field username-field">
                <label for="" class="label username-label">Username</label>
                {{ registration_form.username }}
            </div>

            <div class="row field email-field">
                <label for="" class="label email-label">Email</label>
                {{ registration_form.email }}
            </div>

            <div class="row field pwd-field">
                <label for="" class="label pwd-label">Password</label>
                {{ registration_form.password1 }}
            </div>

            <div class="row field pwd-confirmation-field">
                <label for="" class="label pwd-confirmation-label">Confirm Password</label>
                {{ registration_form.password2 }}
            </div>

            <button type="submit" class="btn submit-btn general-btn">Create account &rarr;</button>
        </div>


    </div>

</form>
{% endblock form_content %}