@import "../00_design_system/00_system_package.css";

.nav-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.link-icon {
    font-size: 1.25rem;
    font-size: 1.25rem;
    color: var(--light);
}

.nav-logo-name {
    color: var(--light);
    font-weight: 700;
}

.nav-link {
    position: relative;
    color: var(--light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav-link:hover {
    color: var(--light);
    text-decoration: none;
}

.nav-link-name {
    font-size: 12px;
    font-family: var(--medium-font);
    text-transform: uppercase;
}