{% extends 'base.html' %}

{% block content %}
    <form action="" method="post" class="custom-form">
        {% csrf_token %}
        <div class="container-fluid form-container add-recipe-form-container">

            <div class="row d-flex justify-content-center form-title-row">
                <h1 class="form-action-text">Add recipe.</h1>
            </div>

            <div class="row d-flex justify-content-center form-fields-row mb-5">
                <label for="" class="field-label">Name</label>
                <input type="text" class="field-input">
            </div>

            <div class="row d-flex justify-content-center form-fields-row mb-5">
                <label for="" class="field-label">Category</label>
                <select class="field-input"></select>
            </div>

            <div class="row d-flex justify-content-center form-fields-row  mb-5">
                <label for="" class="field-label">Cooking Time</label>
                <input type="text" class="field-input">
            </div>

        </div>

    </form>
{% endblock content %}