{% extends 'base_model_form.html' %}


{% block form_title %}
    Cooking intructions for {{ recipe.name }}
{% endblock form_title %}

{% block form %}
    {{ formset.form_management }}

    {% for form in formset %}
        {{ form.id }}
        <div class="row field">
            <label for="" class="label">Instruction</label>
            {{ form.step }}
        </div>
    {% endfor %}
    <div class="row submit-btn-row">
        <button class="btn general-btn solid-btn-accent">Add ingredients</button>
    </div>
{% endblock form %}