@import "../00_design_system/00_system_package.css";

.general-table {
    border-collapse: separate;
    border-spacing: 1px 10px;
}

.general-thead {
    font-size: 9px;
    font-family: var(--medium);
    color: var(--dark);
    text-transform: uppercase;
}

.general-tbody {
    background-color: var(--light);
    border-radius: 50px;
}

.general-table .icon-cell {
    background-color: var(--dark-accent);
    width: 16px;
}

.general-table td {
    font-size: 14px;
    font-family: var(--medium);
    color: #96A1A9;
    vertical-align: middle;
}

.table-edit-icon {
    font-size: 24px;
    color: var(--dark-accent);
}