@import "../00_design_system/03_variables.css";


.header-section {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 1rem;*/
    background-color: var(--light);
    z-index: var(--z-index);
    transition: .5s;
}


.user-message {
    font-family: var(--medium-font);
    color: var(--dark);
}

.welcome-msg {
    font-family: var(--regular-font);
}

.logout-btn {
    text-decoration: none;
    font-family: var(--medium-font);
    font-size: 11px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: 2px solid var(--dark-accent);
    border-radius: 0;
    color: var(--dark-accent);
    transition: 0.5s;
    padding: 10px 10px 10px 10px;
}

.logout-btn:hover {
    background: var(--dark-accent);
    color: var(--light);
    transition: 0.5s;
}


.menu-toggle-btn {
    color: var(--dark-accent);
    font-size: 1.8rem;
    cursor: pointer;
}


.notification-bell, .cms-setting-icon {
    font-size: 24px;
    color: var(--accent);
}

@media screen and (max-width: 412px) {
    #dropdown-notification {
        visibility: hidden;
    }
}

.calendar-widget .today-text, .calendar-widget .date, .welcome-msg, .logged-username {
    font-size: 14px;
}

.calendar-widget .today-text, .calendar-icon {
    color: var(--light-grey);
}

.calendar-widget .date {
    font-weight: 600;
    color: #31395B;
}