{% extends 'base.html' %}

{% block content %}

    <div class="row d-flex flex-row align-items-center">

        <div class="d-flex align-items-center control-container">
            <h1>Cookbook</h1>
            {% url "cookbook:add-new-recipe" as url %}
            <a href="{{ url }}" class="btn general-btn solid-btn-accent ms-5">
                <i class='bx bx-plus-medical'></i>
                Add
            </a>
        </div>
        
        {% include 'cookbook/tables/cookbook_table.html' %}
    </div>

{% endblock content %}