<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center recipe-card-col mb-3">

    <div class="card {{ recipe.category|lower }}">
        {% block card_component_icon %}
        {% endblock card_component_icon %}
        <div class="card-body">
            <h5 class="card-title">
                {% block card_component_title %}
                {% endblock card_component_title %}
            </h5>
            <p class="card_component_category">
                {% block card_component_category %}
                {% endblock card_component_category %}
            </p>
            {% block card_component_edit_url %}
            {% endblock card_component_edit_url %}
        </div>
    </div>

</div>