@import "../00_design_system/00_system_package.css";


.form-body-full {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.form-page {
    height: 100%;
}

.presentation-col {
    background: var(--dark-accent);
}

.form-completion-col {
    background: var(--light);
}

.form-app-name, .form-app-desc {
    color: var(--light);
}

.form-app-name {
    font-weight: 800;
}

.cta-text, .cta-btn {
    height: inherit;
}

.cta-text h6 {

}

.auth-btn {
    font-family: var(--medium-font);
    font-size: 11px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: 2px solid var(--dark-accent);
    border-radius: 0;
    color: var(--dark-accent);
    transition: 0.5s;
}

.auth-btn:hover {
    background: var(--dark-accent);
    color: var(--light);
    transition: 0.5s;
}