@import "../00_design_system/00_system_package.css";


.form-app-name {
    font-family: var(--black-font);
    font-size: 32px;
    color: var(--light);
}

.form-app-desc {
    font-family: var(--light-font);
    font-size: 16px;
    color: var(--light);
}

.form-action-description {
    color: var(--light-grey);
    font-weight: 300;
}