@import "../00_design_system/00_system_package.css";


.submit-btn {
    border: 2px solid var(--dark-accent);
    color: var(--dark-accent);
    width: fit-content;
    border-radius: 0;
}

.submit-btn:hover {
    background: var(--dark-accent);
    color: var(--light);
}